# Python
__pycache__/
*.pyc
venv/
env/

# Data & Models
data/
tuned_models/
*.pth
*.pt

# Secrets
.env
secrets.yaml
wandb/

# IDE & OS
.vscode/
.idea/
.ipynb_checkpoints/
.DS_Store

# Jupyter Notebooks built from Quarto/Rmd
*.ipynb

# Gradio
.gradio/

# Other
ideas.txt
